@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: #ffffff;
  --bg-color: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Syncopate', sans-serif;
}

img {
  shape-rendering: optimizeSpeed; /* 較新的標準 */
  image-rendering: -webkit-optimize-contrast; /* Webkit */
  image-rendering: crisp-edges; /* 較新的標準 */
}
.radius{
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);;
}
.radiusH {
  background: radial-gradient(50% 50% at 50% 50%, rgba(180, 255, 120, 0.00) 0%, #B4FF78 100%);  
}

